body    {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather',serif;
}

.top-container{
    background-color: #E4F9F5;
   
    position: relative;
    padding-top: 250px;
}
.pro{
    text-decoration: underline;
   
}
h1{
    margin: 50px auto 0px auto;
    font-family: 'Dancing Script',serif;
    font-size: 5.625rem;
    color: #66BFBF;
    }
h2{
    font-family: 'Montserrat',serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat',serif;
    color: #11999E;
}
.bottom-cloud{
    position: absolute;
    left:450px;
    bottom:350px;
}
.top-cloud{
    position:absolute;
    right: 350px;
    top:0px; 
}
a{
    color: #11999E;
    
}
.skill-row{
    width: 50%;
    margin: 150px auto 150px auto;
    text-align: left;
    line-height: 2;
}
.football{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.piano{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.guitar{
    width:25%;
    float: left;
    margin-right: 30px;
}
hr{
    color: #EAF6F6;
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    border-width: 8px;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .description{
    width: 50%;
    margin: auto;
 }
.end-desc{
    width: 40%;
    margin: 50px auto 50px auto;
}
.bottom-container{
    background-color: #66BFBF;
    height: 200px;
    padding-top: 50px;
    margin-top: 100px;
}
.footer-link{
    margin: auto 40px auto 40px;
}
.credits{
    margin-top: 50px;
    color: #EAF6F6;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .profile{
    margin-top: 100px;
  }
 